@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e9f8ff, #f1f6fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #434343);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  .dashboard-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fbfcfc;
    text-align: center;
  }
  
  
  .dashboard-form {
    background: #ffffff;
    padding: 25px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 360px;
  }
  
  
  .form-label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #34495e;
    display: block;
  }
  
  
  .form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccd1d9;
    border-radius: 8px;
    font-size: 14px;
    background: #fdfdfd;
    transition: border-color 0.3s;
    align-self: center;
  }
  
  .form-input:focus {
    border-color: #3498db;
    outline: none;
    align-self: center;
  }
  
  
  .form-file {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccd1d9;
    border-radius: 8px;
    font-size: 14px;
    background: #f9f9f9;
    cursor: pointer;
  }
  
  
  .form-submit-button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .form-submit-button:hover {
    background: #2980b9;
  }
  
  /* Responsive Design */
  @media (max-width: 400px) {
    .dashboard-form {
      width: 100%;
    }
  }